<header class="header" id="header">

  <a href="hme.html" class="logo"><h1>Time<span>zone.</span></h1></a>
  <nav class="navbar">
      <a routerLink="home">Home</a>
      <a routerLink="product">Product</a>
      <a routerLink="about">About</a>
      <a routerLink="contactus">Contactus</a>
      
  </nav>

  <div class="icons">
      <a href="#" class="fas fa-heart"></a>
      <a routerLink="Cart"  id="cart-btn" class="fas fa-shopping-cart"></a>
      <a routerLink="login" id="login-btn" class="fas fa-user"></a>
  </div>

  
  </header>