
<section class="newsletter" id="newsletter">

  <h3>subscribe us for latest updates</h3>

  <form action="">
      <input class="box" type="email" placeholder="enter your email">
      <input type="submit" value="subscribe" class="btn">
  </form>

</section>

<!-- newsletter section ends -->

<!-- footer section starts  -->

<section class="footer" id="footer">

  <div class="box-container">

      <div class="box">
        <a routerLink="/home" class="logo"><h2>Time<span>zone.</span></h2></a>
          
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam culpa sit enim nesciunt rerum laborum illum quam error ut alias!</p>
          <div class="share">
              <a href="#" class="btn fab fa-facebook-f"></a>
              <a href="#" class="btn fab fa-twitter"></a>
              <a href="#" class="btn fab fa-instagram"></a>
             
          </div>
      </div>
      
      <div class="box">
          <h3>Our location</h3>
          <div class="links">
              <a href="#">india</a>
              <a href="#">USA</a>
              <a href="#">france</a>
              <a href="#">japan</a>
              <a href="#">russia</a>
          </div>
      </div>

      <div class="box">
          <h3>Quick links</h3>
          <div class="links">
              <a routerLink="/home">Home</a>
              <a routerLink="/product">Product</a>
              <a routerLink="/about">About</a>
              <a routerLink="/contactus">ContactUs</a>
          </div>
      </div>

      <div class="box">
          <h3>Get help</h3>
          <div class="links">
              <a href="#">Faq</a>
              <a href="#">Customer care</a>
              <a href="#">Features</a>
          </div>
      </div>

  </div>


</section>