<!-- 
<section class="newsletter" id="newsletter">

  <h3>subscribe us for latest updates</h3>

  <form action="">
      <input class="box" type="email" placeholder="enter your email">
      <input type="submit" value="subscribe" class="btn">
  </form>

</section> 



<section class="footer" id="footer">

  <div class="box-container">

      <div class="box">
        <a routerLink="/home" class="logo"><h2>Time<span>zone.</span></h2></a>
          
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam culpa sit enim nesciunt rerum laborum illum quam error ut alias!</p>
          <div class="share">
              <a href="#" class="btn fab fa-facebook-f"></a>
              <a href="#" class="btn fab fa-twitter"></a>
              <a href="#" class="btn fab fa-instagram"></a>
             
          </div>
      </div>
      
      <div class="box">
          <h3>Our location</h3>
          <div class="links">
              <a href="#">india</a>
              <a href="#">USA</a>
              <a href="#">france</a>
              <a href="#">japan</a>
              <a href="#">russia</a>
          </div>
      </div>

      <div class="box">
          <h3>Quick links</h3>
          <div class="links">
              <a routerLink="/home">Home</a>
              <a routerLink="/product">Product</a>
              <a routerLink="/about">About</a>
              <a routerLink="/contactus">ContactUs</a>
          </div>
      </div>

      <div class="box">
          <h3>Get help</h3>
          <div class="links">
              <a href="#">Faq</a>
              <a href="#">Customer care</a>
              <a href="#">Features</a>
          </div>
      </div>

  </div>


</section>  -->

<br><br><br><br><br><br>

  <!-- info section -->

  <section class="info_section  layout_padding2-top">
    <div class="social_container">
      <div class="social_box">
        <a href="">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="info_container ">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <h6>
              ABOUT US
            </h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doLorem ipsum dolor sit amet, consectetur adipiscing elit, sed doLorem ipsum dolor sit amet,
            </p>
          </div>
          
          <div class="col-md-6 col-lg-3">
            <div class="info_form ">
              <h6>
                Newsletter
              </h6>
              <form action="#">
                <input type="email" placeholder="Enter your email">
                <button>
                  Subscribe
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
              NEED HELP
            </h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doLorem ipsum dolor sit amet, consectetur adipiscing elit, sed doLorem ipsum dolor sit amet,
            </p>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
              CONTACT US
            </h6>
            <div class="info_link-box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span> Gb road 123 london Uk </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>+01 12345678901</span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> demo@gmail.com</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer section -->
    <footer class=" footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span> 
          <a href="">TimeZone</a>
        </p>
      </div>
    </footer>
    <!-- footer section -->

  </section>

  <!-- end info section -->