#heading{
    background-image: url("https://cdn.shopify.com/s/files/1/0530/5637/2916/t/3/assets/about-us-header-1684349740008_1200x.png?v=1684349745");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 30rem;
  padding-bottom: 8rem;
}