.hello{
    margin: 0;
    padding: 0;
    background-image: url("../assets/images/pink1.jpg");
    background-size: cover;
    background-position: center;
     height: 100vh;
    
  }
  a{
    font-size: 15px;
    text-decoration: none;
  }
.card{
    margin-top: 50px;
    border: none;
    width:500px;
    padding:40px;
    top:50%;
    left:58%;
}