#heading{
    background-image: url("../assets/images/cart 3.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 21rem;
  padding-bottom: 2rem;
}