body{
    margin-top:20px;
    background:#eee;
    font-size: 62.5%;
}
.ui-w-40 {
    width: 40px !important;
    height: auto;
    font-size: 62.5%;
}

.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
    font-size: 62.5%;
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
    font-size: 62.5%;
}