

      <style>

        h1{
          font-size: 30px;
          color: hsl(0, 0%, 4%);
          text-transform: uppercase;
          font-weight: 300;
          text-align: center;
          margin-bottom: 15px;
        }
        table{
          width:100%;
          table-layout: fixed;
        }
        .tbl-header{
          background-color: rgba(255,255,255,0.3);
          font-size: 19px;
         }
        .tbl-content{
          height:66vh;
   overflow-x:auto;
          margin-top: 0px;
          border: 1px solid rgba(255,255,255,0.3);
          font-size: 19px;
          
        }
        th{
          padding: 20px 15px;
          text-align: left;
          font-weight: 500;
          font-size: 19px;
          color: black;
          text-transform: uppercase;
        }
        td{
          padding: 15px;
          text-align: left;
          vertical-align:middle;
          font-weight: 300;
          font-size: 19px;
          color: black;
          border-bottom: solid 1px rgba(255,255,255,0.1);
        }
        
        
        /* demo styles */
        
        @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
        body{
          background: linear-gradient(179.4deg, rgb(253, 240, 233) 2.2%, rgb(255, 194, 203) 96.2%);
          font-family: 'Roboto', sans-serif;
          background-size: cover;
    background-position: center;
    padding: 0%;
    margin: 0%;
        }
       /* .form-box {
	background-color: #ffffff00;
	margin: auto auto;
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 0 10px  #ffffff00;
	position: absolute;
	top: 1%;
	left: 0;
	right: 0;
	width: 1000px;
	height: 500px;
}
.form-box:before {
  background-image: url("../assets/images/footer.webp");
	width: 100%;
	height: 100%;
	background-size: cover;
	content: "";
	position: fixed;
	left: 17%;
	right: 0;
	top: 13%;

	z-index: -1;
	display: block;
	
}  */ */
        section{
          margin: 0px;
        }
                
        ::-webkit-scrollbar {
            width: 6px;
        } 
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        } 
        ::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        }
        </style><body>
            <section class="form-box">
                <!--for demo wrap-->
                <h1>User Details</h1>
                <div class="tbl-header">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone no</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="tbl-content">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <tr  *ngFor="let user of users">
                            <td>{{ user.id }}</td>
                            <td>{{ user.fullname }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.mobile }}</td>
                      </tr>
                     
                      
                    </tbody></table></div>