<!-- <h2>INBUILT PIPES..</h2>
<div>
    1)Date : {{day | date:'dd-MM-yyyy'}}
</div><br>
<div>
    2)Number : {{num | number}}
</div><br>
<div>
    3)Uppercase : {{text | uppercase}}
</div><br>
<div>
    4)Lowercase : {{text | lowercase}}
</div><br>
<div>
    5)Titlecase : {{text | titlecase}}
</div><br>
<div>
    6)Default currency : {{num | currency}}
</div><br>
<div>
   7)Indian currency : {{num | currency :'INR'}}
</div><br>
<div>
    8)Percent : {{decimalnum | percent :'1.1-3'}}
</div><br>
<div>
    9)Slice : {{text | slice :6}}
</div><br>
<div>
    10)JSON : {{obj | json }}
</div><br>
<h2>CUSTOM PIPES..</h2>
<div>
  
</div><br>
<div>
    12)Size : {{size | size:size }}</div><br>

    

<h2>ngFor and ngIf</h2> 

<table> 

<thead> 

<th>Name</th> 

<th>Department</th> 

<th *ngIf="status">City</th> 

</thead> 

<tbody> 

<tr *ngFor="let student of student"> 

<td>{{student.Name}}</td> 

<td>{{student.Department}}</td> 

<td *ngIf="status">{{student.City}}</td> 

</tr> 

</tbody> 

</table> 

<br> 

<button (click)="setstatus()">Show/Hide</button> 


<h2>ngSwitch concept;</h2>

<h4>kindly select the Name</h4> 

<select[(ngModel)]="Name"> 

 <option value="pink">Alia</option> 

 <option value="blue">Riya</option> 

 <option value="violet">Reethu</option> 

 <option value="yellow">Elsa</option> 

 <option value="orange">Nila</option> 

 <option value="please select the dept">kindly select</option> 

</select> 

<ul [ngSwitch]="Name"> 

 <li *ngSwitchCase="'pink'">for Alia-{{Name}} color tag</li> 

 <li *ngSwitchCase="'blue'">for Riya-{{Name}} color tag</li> 

 <li *ngSwitchCase="'violet'">for Reethu-{{Name}} color tag</li> 

 <li *ngSwitchCase="'yellow'">for Elsa-{{Name}} color tag</li> 

 <li *ngSwitchCase="'orange'">for Nila-{{Name}} color tag</li> 

 <li *ngSwitchDefault="">for others-{{Name}} for color tag</li> 

</ul> 



<h2>ngStyle concept;</h2>

<h4>kindly select the Name</h4> 

<select[(ngModel)]="Name"> 

 <option value="pink">Alia</option> 

 <option value="blue">Riya</option> 

 <option value="violet">Reethu</option> 

 <option value="yellow">Elsa</option> 

 <option value="orange">Nila</option> 

 <option value="please select the dept">kindly select </option> 

</select> 

<ul [ngStyle]="{'color':Name}"  [ngSwitch]="Name"> 

 <li *ngSwitchCase="'pink'">for Alia-{{Name}} color tag</li> 

 <li *ngSwitchCase="'blue'">for Riya-{{Name}} color tag</li> 

 <li *ngSwitchCase="'violet'">for Reethu-{{Name}} color tag</li> 

 <li *ngSwitchCase="'yellow'">for Elsa-{{Name}} color tag</li> 

 <li *ngSwitchCase="'orange'">for Nila-{{Name}} color tag</li> 

 <li *ngSwitchDefault="">for others-{{Name}} for color tag</li>  -->

<!-- 
</ul>  -->

<!-- <nav>
    <a routerLink="home">Home</a>
    <a routerLink="product">Product</a>
    <a routerLink="about">About</a>
    <a routerLink="contactus">Contactus</a>
</nav> -->

 <router-outlet></router-outlet>
    <app-Header></app-Header>
    <app-Footer></app-Footer> 
    
  
<!-- <app-Home></app-Home>
<app-Product></app-Product>  -->