

  <style>
    /* Main CSS Here */
  
  @import url(
  "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  }
  :root {
  --background-color1: #fafaff;
  --background-color2: #ffffff;
  --background-color3: #ededed;
  }
  body {
  background-color: var(--background-color4);
  max-width: 100%;
  overflow-x: hidden;
  border-radius: 0.675rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  
  header {
  height: 70px;
  width: 100vw;
  padding: 0 30px;
  background-color: var(--background-color1);
  position: fixed;
  z-index: 100;
  box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
  display: flex;
  justify-content: space-between;
  align-items: center;
  top:0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  
  }
  
  .logo {
  font-size: 27px;
  font-weight: 600;
  color: #fa7bb4;
  }
  
  .icn {
  height: 30px;
  }
  .menuicn {
  cursor: pointer;
  }
  
  .searchbar,
  .message,
  .logosec {
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .searchbar2 {
  display: none;
  }
  
  .logosec {
  gap: 60px;
  
  }
  
  .searchbar input {
  width: 250px;
  height: 42px;
  border-radius: 50px 0 0 50px;
  background-color: var(--background-color3);
  padding: 0 20px;
  font-size: 15px;
  outline: none;
  border: none;
  }
  .searchbtn {
  width: 50px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 50px 50px 0px;
  background-color: var(--secondary-color);
  cursor: pointer;
  }
  
  .message {
  gap: 40px;
  position: relative;
  cursor: pointer;
  }
  .circle {
  height: 7px;
  width: 7px;
  position: absolute;
  background-color: #fa7bb4;
  border-radius: 50%;
  left: 19px;
  top: 8px;
  }
  .dp {
  height: 40px;
  width: 40px;
  background-color: #626262;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  }
  .main-container {
  display: flex;
  width: 100vw;
  position: relative;
  top: 70px;
  z-index: 1;
  }
  .dpicn {
  height: 42px;
  }
  
  .main {
  height: calc(100vh - 70px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 40px 30px 30px 30px;
  }
  
  .main::-webkit-scrollbar-thumb {
  background-image:
      linear-gradient(to bottom, rgb(85, 0, 72), rgb(50, 0, 37));
  }
  .main::-webkit-scrollbar {
  width: 5px;
  }
  .main::-webkit-scrollbar-track {
  background-color: #9e9e9eb2;
  }
  
  .box-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  
  }
  .nav {
  min-height: 91vh;
  width: 250px;
  background-color: var(--background-color2);
  position: absolute;
  top: 0px;
  left: 00;
  border-radius: 0.675rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 30px 0 20px 10px;
  }
  .navcontainer {
  height: calc(100vh - 70px);
  width: 250px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
  background-color: #FFC0CB;
      border-radius: 0.5rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      padding-top: 0%;
  }
  .navcontainer::-webkit-scrollbar {
  display: none;
  }
  .navclose {
  width: 80px;
  }
  .nav-option {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 30px 0 20px;
  gap: 20px;
  transition: all 0.1s ease-in-out;
  }
  .nav-option:hover {
  border-left: 5px solid #a2a2a2;
  background-color: #dadada;
  cursor: pointer;
  }
  .nav-img {
  height: 30px;
  }
  
  .nav-upper-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  }
  
  .option1 {
  border-left: 5px solid #fa7bb4;
  background-color: var(--Border-color);
  color: white;
  cursor: pointer;
  }
  .option1:hover {
  border-left: 5px solid #fa7bb4;
  background-color: var(--Border-color);
  }
  .box {
  height: 130px;
  width: 230px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #fa7bb4;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  }
  .box:hover {
  transform: scale(1.08);
  }
  
  .box:nth-child(1) {
  background-color: var(--one-use-color);
  }
  .box:nth-child(2) {
  background-color: var(--two-use-color);
  }
  .box:nth-child(3) {
  background-color: var(--one-use-color);
  }
  .box:nth-child(4) {
  background-color: var(--two-use-color);
  }
  
  .box img {
  height: 50px;
  }
  .box .text {
  color: white;
  }
  .topic {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  }
  
  .topic-heading {
  font-size: 30px;
  letter-spacing: 3px;
  }

  .nav-option.active {
  color:#fa7bb4;
  background-color: #dadada;
}
  </style>

<div class="main-container">
        <div class="navcontainer">
            <nav class="nav">
                <div class="nav-upper-options">
                  
              
                    <div class="option2 nav-option" [class.active]="activeTab === 'dashboard-tab'" (click)="setActiveTab('dashboard-tab')" role="tab">
                        <img src=
"https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/user-female-circle-pink-512.png"
                            class="nav-img"
                            alt="articles">
                        <h3> Dashboard</h3>
                    </div>
 
                    <div class="nav-option option3"[class.active]="activeTab === 'orders-tab'" (click)="setActiveTab('orders-tab')" role="tab">
                        <img src=
"https://cdn.iconscout.com/icon/premium/png-256-thumb/love-update-4933579-4104627.png?f=webp"
                            class="nav-img"
                            alt="report">
                        <h3>Orders</h3>
                    </div>
 
                    
 
                    <div class="nav-option option5"  [class.active]="activeTab === 'address-tab'" (click)="setActiveTab('address-tab')" role="tab">
                        <img src=
"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX7zBi3JQ0qxTN9xhI1waVj_ZgXK8glBE_8oMuH8Z7xqlIPryuOsbrHN0vwiITJjxeVgI&usqp=CAU"
                            class="nav-img"
                            alt="blog">
                        <h3>Address</h3>
                    </div>
 
                  
 
                    <div class="nav-option logout" routerLink="login">
                        <img src=
"https://images.assetsdelivery.com/compings_v2/iconhome/iconhome2211/iconhome221102340.jpg"
                            class="nav-img"
                            alt="logout">
                        <h3>Go to back</h3>
                    </div></div></nav></div>
 
          
        <div class="col-md-9">
          <div class="tab-content">
            <div *ngIf="activeTab === 'dashboard-tab'">
              <app-Dashboard></app-Dashboard>
            </div>
            <div *ngIf="activeTab === 'orders-tab'">
              <app-orders></app-orders>
            </div>
            <div *ngIf="activeTab === 'payment-tab'">
              <app-Payment></app-Payment>
            </div>
            <div *ngIf="activeTab === 'address-tab'">
              <app-Address></app-Address>
            </div>
          </div>
        </div>
    





  
















  