<style>
  .card{
    margin-top: 10px;
    border: none;
    width:500px;
    padding:40px;
    top:12%;
    left:58%;
}
h1{
    font-size: 30px;
    font-weight:600;
    font-family:'Times New Roman', Times, serif;
}
.sign-up{
    margin: 0;
    padding: 0;
    background-image: url("../assets/images/pink1.jpg");
    height: 100vh;
    overflow: hidden;
  }
  a{
    font-size: 15px;
    text-decoration: none;
  }
  a:hover{
    color: black;
  }
  small{
    font-size: 13px;
    
  }
  .form-label{
    font-size: 17px;
  }
  .card .form-control {
  height: 35px; 
}


  .input-group {
  position: relative;

}

.password-toggle-btn {
  position: absolute;
  top: 0%; 
  right: 1px; 
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.password-toggle-btn:focus {
  outline: none;
}

.eye-icon {
  font-size: 18px;
}
.eye-icon {
  position: absolute;
  top: 50%;
  background-color: transparent; 
  transform: translateY(-50%);
  font-size: 18px;
  color: #555;
  transition: color 0.3s; 
    margin-right: -18px;
    cursor: unset; 
  }

</style>


<section class="sign-up">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
         <h1>Register</h1>
      </div>
     
        <form [formGroup]="signupForm" (ngSubmit)="signup()">
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Full Name</label>
            <input formControlName="fullname" type="text" class="form-control" id="exampleInputPassword1" style="font-size: 16px">
          
          
          <div *ngIf="signupForm.controls['fullname'].invalid&&signupForm.controls['fullname'].touched">
            <small *ngIf="signupForm.controls['fullname'].errors?.['required']" class="text-danger">*please enter Fullname</small>
            <small *ngIf="signupForm.controls['fullname'].errors?.['minlength']" class="text-danger">*enter 3 characters</small>
          
          </div><br>


          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
            <input formControlName="mobile" type="text" class="form-control" id="exampleInputPassword1" style="font-size: 16px">
         
          
            
          <div *ngIf="signupForm.controls['mobile'].invalid&&signupForm.controls['mobile'].touched">
            <small *ngIf="signupForm.controls['mobile'].errors?.['required']" class="text-danger">*please enter Mobile Number</small>
            <small *ngIf="signupForm.controls['mobile'].errors?.['pattern']" class="text-danger">*Must be 10 numbers amd starts with 9,8,7,6</small>
          
          </div> <br>



          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input  formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="text-transform: lowercase;font-size: 16px">
           
          
          <div *ngIf="signupForm.controls['email'].invalid&&signupForm.controls['email'].touched">
            <small *ngIf="signupForm.controls['email'].errors?.['required']" class="text-danger">*Email is Required</small>
            <small *ngIf="signupForm.controls['email'].errors?.['pattern']" class="text-danger">*Enter Valid Email</small>
          
          </div><br>


          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <div class="input-group">
              <input formControlName="password" [type]="showPassword ? 'text' : 'password'" class="form-control" id="exampleInputPassword1" style="font-size: 16px">
              <button class="btn btn-outline-secondary password-toggle-btn" type="button" (click)="togglePassword()">
                <span *ngIf="showPassword" class="eye-icon"><i class="far fa-eye-slash"></i></span>
                <span *ngIf="!showPassword" class="eye-icon"><i class="fas fa-eye"></i></span>
              </button>
              
            </div>
          
          <!-- <div *ngIf="signupForm.controls['password'].invalid&&signupForm.controls['password'].touched">
            <small *ngIf="signupForm.controls['password'].errors?.['required']" class="text-danger">*please enter Password</small>
            <small *ngIf="signupForm.controls['password'].errors?.['pattern']" class="text-danger">*Length of Password must be 6(atleast one alphabet,number,special character)</small>
             -->

          </div><br>

          <button [disabled]="signupForm.invalid" type="submit" class="btn btn-primary">Register</button>
        <br>
        <a routerLink="/login">Already a user? Login</a>
        
    </div>
  </div>
</div>