#heading{
    background-image: url("../assets/images/titan banner.avif");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 27rem;
  padding-bottom: 8rem;
  
}