/* .home {
    padding-top: 7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    background-color:white;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .home .slides-container .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.5rem;
    display: none;
  }
  
  .home .slides-container .slide.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .home .slides-container .slide .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    -webkit-animation: fadeLeft .4s linear .4s backwards;
            animation: fadeLeft .4s linear .4s backwards;
  }
  
  .home .slides-container .slide .content span {
    color: #666;
    font-size: 2.5rem;
  }
  
  .home .slides-container .slide .content h3 {
    font-size: 6rem;
    color: #222;
    padding: .5rem 0;
  }
  
  .home .slides-container .slide .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    margin: 3rem 0;
    background-size: cover;
  }
  
  .home .slides-container .slide .image img {
    width: 100%;
    -webkit-animation: fadeUp .4s linear;
            animation: fadeUp .4s linear;
  }
  
  .home #next-slide,
  .home #prev-slide {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    text-align: center;
    background: #fff;
    font-size: 3rem;
    color: #222;
    cursor: pointer;
  }
  
  .home #next-slide:hover,
  .home #prev-slide:hover {
    color:var(--pink);
  }
  
  .home #prev-slide {
    left: 2rem;
  }
  
  .home #next-slide {
    right: 2rem;
  }
  
  .banner-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 5.5rem;
  }
  
  .banner-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
  }
  
  .banner-container .banner {
    position: relative;
    height: 30rem;
    overflow: hidden;
  }
  
  .banner-container .banner:hover img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  
  .banner-container .banner img {
    height: 95%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .banner-container .banner .content {
    position: absolute;
    top: 80%;
    left: 2rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .banner-container .banner .content span {
    color: white;
    font-size: 1.5rem;
  }
  
  .banner-container .banner .content h3 {
    font-size: 2rem;
    padding-top: .9rem;
    color: white;
  }
  
  .banner-container .banner .content .btn {
    padding: .8rem 2.5rem;
  } */

  /* #deal{
    background-image:url("../assets/images/deal.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
  } */
  #deal{
    background-image: url("../assets/images/deal5.webp");
  background-size: cover;
  background-position: center;
  padding-top: 7rem;
    padding-bottom: 7rem;
  }