<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');

*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --main-color: #207178
}
html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    padding: 13px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1111;
    transition: .5s ease-in-out;
}

header .logo a{
    font-size: 28px;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFF;
    font-family: 'Fenix', serif;
}
header .logo img{
    width: 30px;
    margin-top: -5px;
}
header ul{
    display: flex;
    margin: 0;
}
header ul li{
    margin: 0px 20px;
}
header ul li a{
    color: #fff;
    text-decoration: none!important;
    text-transform: capitalize;
    display: block;
    transition: .4s;
    font-size: 15px;
}
header ul li a:hover{
    color: #ff748c;
}

header .bars{
    display: none;
}
header .bars img{
    width: 30px;
    cursor: pointer;
}

header.active{
    background: #FFF;
    box-shadow: 0px 1px 0px #DDD;
}
header.active .logo a{
    color: #ff748c;
}
header.active ul li a{
    color: #ff748c;
    border-color: #ff748c;
header.active #bar{
    background: #ff748c;
    color: #ff748c;
    padding: 4px 5px;
    width: 33px;
}
}
@media(max-width: 991px){
    header .navigation{
        display: block;
        height: 100vh;
        width: 50%;
        background: rgba(0,0,0,.5);
        position: absolute;
        top: 68px;
        right: -50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: .5s ease-in-out;
    }
    header.active .navigation{
        background: #FFF;
        box-shadow: -1px 0px 0px #DDD;
    }
    header .navigation li{
        margin: 15px 0px;
    }
    header .bars{
        display: block;
    }
}

@media(max-width: 576px){
    header{
        padding: 13px 30px;
    }
    header .navigation.new{
        width: 100%;
        right: -100%;
    }
}

.big-bg{
    background-image: linear-gradient(rgba(126, 105, 105, 0.5),rgba(0,0,0,.5)) ,url(https://www.swatch.com/dw/image/v2/BDNV_PRD/on/demandware.static/-/Library-Sites-swarp-global/default/dw15c25aeb/images/Swatch/collections/2023/plp/floral-watches/floral-watches_4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  padding-top: 140px;

}

.big-bg .bg-content{
    text-align: center;
    color: #FFF;
}
.big-bg .bg-content h1{
    font-size: 55px;
    font-family: Georgia, serif;
}
.big-bg .bg-content hr{
    background: #FFF;
    width: 35%;
    height: 1px;
    margin: 10px auto 13px auto;
}
.big-bg .bg-content .bg-link{
    margin-top: 16px;
}
.big-bg .bg-content .bg-link a{
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #FFF;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.bg-content .bg-link a::before{
    position: absolute;
    content: "";
    background: #ff748c;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .5s ease-in-out;
}
.bg-content .bg-link a:hover::before{
    left: 0%;
}
.bg-content .bg-link a:hover{
    border-color: #ff748c;
}

@media(max-width: 991px){
    .big-bg .bg-content h1{
        font-size: 50px;
    }
    .big-bg .bg-content p{
        font-size: 15px;
    }
    .big-bg .bg-content .bg-link a{
        font-size: 15px;
    }
}

@media(max-width: 768px){
    .big-bg .bg-content h1{
        font-size: 43px;
    }
    .big-bg .bg-content p{
        font-size: 14px;
    }
    .big-bg .bg-content .bg-link a{
        font-size: 14px;
    }
}

@media(max-width: 576px){
    .big-bg .bg-content{
        padding: 0px 15px;
    }
    .big-bg .bg-content hr{
        width: 130px;
    }
    .big-bg .bg-content br{
        display: none;
    }
    .big-bg .bg-content h1{
        font-size: 28px;
    }
    .big-bg .bg-content p{
        font-size: 13px;
    }
    .big-bg .bg-content .bg-link a{
        font-size: 13px;
    }
}

.big-collection{
    width: 97%;
    margin: 100px auto;
}
.big-collection .collect-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    grid-row-gap: 20px;
}
.collect-flex .link{
    margin-top: 20px;
}
.big-collection .collect{
    margin: 0px 10px;
}
.collect-flex .link a{
    display: inline-block;
    color: #ff748c;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
}
.collect-flex .link a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #ff748c;
    left: 0%;
    top: 23px;
    transform: scale(0);
    transition: .5s ease-in-out;
}
.collect-flex .collect:hover a::before{
    transform: scale(1);
}

.collect-flex .collect .image{
    position: relative;
}
.collect .image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 0;
    height: 0;
    border: 1px solid transparent;
}
.big-collection .collect:hover .image::before{
    animation: animate1 .6s linear forwards;
}

@keyframes animate1 {
    0%{
        width: 0;
        height: 0;
        border-top-color: var(--main-color);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 100%;
        height: 0;
        border-top-color: var(--main-color);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: var(--main-color);
        border-right-color: var(--main-color);
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.collect .image::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 0;
    height: 0;
    border: 1px solid transparent;
}
.big-collection .collect:hover .image::after{
    animation: animate2 .6s linear forwards;
}

@keyframes animate2 {
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: var(--main-color);
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: var(--main-color);
        border-left-color: var(--main-color);
    }
}

@media(max-width: 1230px){
    .big-collection .collect-flex{
        display: flex;
        justify-content: center;
    }
}


.big-shop{
    width: 97%;
    margin: 150px auto; 
    padding-bottom: 0%;
}
.big-shop .shop-title{
    text-align: center;
    margin-bottom: 50px;
}
.big-shop .shop-title h2{
    font-weight: 700;
    font-family: 'Fenix' , serif;
}
.big-shop .shop-title p{
    font-size: 15px;
   color: #ff748c;
}
.big-shop .shop-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.shop-flex .shop-one{
    width: 26%;
}
.shop-flex img{
    width: 100%;
}
.shop-flex .shop-two{
    width: 44%;
}
.shop-flex .image-one{
    position: relative;
    margin-bottom: 20px;
}
.shop-flex .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.shop-flex .overlay .txt{
    color: #FFF;
}
.shop-flex .overlay .txt h3{
    margin-bottom: 3px;
}
.shop-flex .overlay .txt span{
    color:#ff748c;
}
.shop-flex .overlay .link{
    position: absolute;
    bottom: 50px;
}
.shop-flex .overlay .link a{
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding-bottom: 5px;
}
.shop-flex .overlay .link i{
    vertical-align: middle;
    transition: padding .4s ease-in-out;
    font-size: 15px;
}
.shop-flex .overlay .link a:hover i{
    padding-left: 3px;
}
.shop-flex .overlay .link a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    background: #FFF;
    width: 100%;
    height: 2px;
    transition: left .4s ease-in-out;
}
.shop-flex .overlay .link a:hover::before{
    left: 0;
}

.shop-flex .image-one:hover .txt{
    animation: job1 .7s ease-in-out forwards;
}

.shop-flex .image-one:hover .link{
    animation: job1_link .7s ease-in-out forwards;
}
.shop-flex .image-one:hover .overlay{
    opacity: 1;
}

.shop-flex .shop-two{
    position: relative;
    height: 100%;
}

.shop-flex .shop-two:hover .txt{
    animation: job1 .7s ease-in-out forwards;
}

.shop-flex .shop-two:hover .link{
    animation: job1_link .7s ease-in-out forwards;
}
.shop-flex .shop-two:hover .overlay{
    opacity: 1;
}

@keyframes job1 {
    0%{
        opacity: 0;
        margin-bottom: 70px;
    }
    100%{
        opacity: 1;
        margin-bottom: 0px;
    }
}

@keyframes job1_link {
    0%{
        opacity: 0;
        bottom: 20px;
    }
    100%{
        opacity: 1;
        bottom: 50px;
    }
}


/* media  */

@media(max-width: 991px){
    .shop-flex .shop-one{
        width: 49%;
    }
    .shop-flex .shop-two{
        width: 49%;
    }
}

@media(max-width: 576px){
    .shop-flex .shop-one{
        width: 100%;
    }
    .shop-flex .shop-two{
        width: 100%;
    }
    .big-shop .shop-title h2{
        font-size: 24px;
    }
    .big-shop .shop-title p{
        font-size: 13px;
    }
}

.big-product{
    width: 90%;
    margin: 10px auto;
 
}
.big-product .product-title{
    margin-bottom: 20px;
    text-align: center;
}
.big-product .product-title p{
    margin-bottom: 2px;
    text-transform: uppercase;
    font-size: 15px;
    color: #ff748c;
}
.big-product .product-title h2{
    font-weight: 600;
}
.big-product .product-title hr{
    width: 120px;
    margin: 14px auto;
    background: gray;
}
.big-product .products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.products .box-container{
    width: 100%;
    margin-bottom: 20px;
    padding-left: 1px;
    padding-right: 1px;
    display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6.5rem;
}
.product-flex .product-one img{
    width: 100%;
}
.product-flex .product-one .product-image{
    position: relative;
}
.product-one .product-image .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .4s ease-in-out;
}

.product-image .overlay i{
    margin: 0px 5px;
    padding: 5px;
    border: 1px solid #000;
    font-size: 13px;
    cursor: pointer;
    opacity: 0;
}


.product-one:hover .product-image .overlay i{
    animation: product_icon .5s ease-in-out forwards;
}

.product-one:hover .product-image .overlay i:nth-child(2){
    animation-delay: .2s;
}
.product-one:hover .product-image .overlay i:nth-child(3){
    animation-delay: .4s;
}

.product-one:hover .overlay{
    opacity: 1;
}

.product-one .product-image{
    margin-bottom: 15px;
}

@keyframes product_icon {
    0%{
        opacity: 0;
        margin-bottom: 50px;
    }
    100%{
        opacity: 1;
        margin-bottom: 0px;
    }
}

.product-one .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}

.product-one .content h4{
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
}
.product-one .content section{
    font-size: 14px;
    font-weight: 600;
}
.product-one article{
    text-transform: uppercase;
    font-size: 14px;
}

/* media  */

@media(max-width: 991px){
    .big-product .product-one{
        width: 32%;
    }
}

@media(max-width: 768px){
    .big-product .product-one{
        width: 49%;
    }
}

@media(max-width: 576px){
    .big-product .product-one{
        width: 100%;
    }
    .big-product .product-title h2{
        font-size: 19px;
    }
    .big-product .product-title hr{
        width: 100px;
    }
}

.big-furn{
    width: 90%;
    margin: 100px auto;
}
.big-furn .furn-title{
    text-align: center;
    margin-bottom: 50px;
}
.big-furn .furn-title h2{
    font-weight: 600;
}
.big-part {
    text-align: center;
    position: relative;
}
.big-part img{
    width: 75%;
}
.big-part .text-inside{
    position: absolute;
    top: 50%;
    left: 27%;
}
.big-part .text-inside .plus{
    width: 35px;
    padding: 10px;
    background: #ff748c;
    transition: .2s;
    cursor: pointer;
    border-radius: 50%;
}

.text-inside .plus.img_active{
    transform: rotate(45deg);
}

.text-inside .text-box{
    width: 320px;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    text-align: left;
    padding: 10px 0;
    transform: scale(0);
    transition: .5s;
}


.text-inside .text-box.active{
    transform: scale(1);
}

.text-inside .text-box img{
    width: 100px;
}
.text-inside .text-box h5{
    font-size: 17px;
    text-transform: capitalize;
}
.text-inside .text-box p{
    font-size: 13px;
    margin-bottom: 7px;
    color: #ff748c;
}
.text-inside .text-box a{
    text-decoration: none;
    color: #ff748c;
    text-transform: capitalize;
    font-size: 14px;
}

/* media  */

@media(max-width: 991px){
    .big-part img{
        width: 100%;
    }
}

@media(max-width: 576px){
    .text-inside{
        display: none;
    }
    .big-furn .furn-title h2{
        font-size: 18px;
    }
    .big-furn .furn-title p{
        font-size: 13px;
    }
}


.btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

 .btn-box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #f16179;
  color: #ffffff;
  border: 1px solid #f16179;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn-box a:hover {
  background-color: transparent;
  color: #f16179;
}





.saving_section {
  padding-left: 45px;
  padding-right: 45px;
 
}

.saving_section .box {
  padding-top: 55px;
  background-color: #f89cab;
  color: #ffffff;
  border-radius: 15px;
}

.saving_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.saving_section .img-box {
  padding: 15px 0 0 25px;
}

.saving_section .img-box img {
  width: 100%;
}

.saving_section .detail-box {
  padding: 0 25px;
}

.saving_section .detail-box p {
  margin-top: 5px;
}

.saving_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 35px -5px 0;
}

.saving_section .detail-box .btn-box a {
  width: 165px;
  text-align: center;
  margin: 5px;
}

.saving_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 0;
  background-color: #ff748c;
  color: #ffffff;
  border: 1px solid #ff748c;
  border-radius: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.saving_section .detail-box .btn-box .btn1:hover {
  background-color: transparent;
  color: #109dbd;
}

.saving_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 0;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ffffff;
  border-radius: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.saving_section .detail-box .btn-box .btn2:hover {
  background-color: transparent;
  color: #ffffff;
}




</style>
   

    <div class="big-bg" id="home">
        <div class="bg-content">
            <h1>Exclusive   <br> Floral Collections</h1>
            <hr>
         
            <div class="bg-link">
                <a href="product">shop Now</a>
            </div>
        </div>
    </div>

    

    <div class="big-shop" id="shop">
        <div class="shop-title">
            <h2>
                we are very proud to present you <br> our new silver collections.
            </h2>
            <p>
                Quality is the easiest way to make beautiful products.
            </p>
        </div>
        <div class="shop-flex">
            <div class="shop-one">

                <div class="image-one">
                    <img src="assets/images/now5.jpg" alt="">
                    <div class="overlay">
                        <div class="txt">
                            <h3> Classics</h3>
                            <section>
                                <span>Timeless </span> / & Design
                            </section>
                        </div>
                    </div>
                </div>

                <div class="image-one">
                    <img src="assets\images\right12.jpg" alt="">
                    <div class="overlay">
                        <div class="txt">
                            <h3>Silvey Collections</h3>
                            <section>
                                <span>Timeless </span> / & Design
                            </section>
                            <div class="link">
                                <a href="/womens">Shop Now <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="shop-one">

                <div class="image-one">
                    <img src="assets\images\right14.webp" alt="">
                    <div class="overlay">
                        <div class="txt">
                            <h3>Unique Designs</h3>
                            <section>
                                <span>Timeless </span> / & Design
                            </section>
                            <div class="link">
                                <a href="/womens">Shop Now <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="image-one">
                    <img src="assets\images\right3.jpg" alt="">
                    <div class="overlay">
                        <div class="txt">
                            <h3>Silvey Collections</h3>
                            <section>
                                <span>Timeless </span> / & Design
                            </section>
                        </div>
                    </div>
                </div>

            </div>

            <div class="shop-two">
                <img src="assets\images\right20.jpg" alt="">
                <div class="overlay">
                    <div class="txt">
                        <h3>Silvey Collections</h3>
                        <section>
                            <span>Timeless </span> / & Design
                        </section>
                        <div class="link">
                            <a href="/womens">Shop Now <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




 <div class="big-product" id="features">
    <div class="product-title">
        <p>
            browse our items
        </p>
        <h2>
            Our latest designs
        </h2>
        <hr>
    </div>
    <section class="products">
      
        <div class="box-container">

            <div class="box">
                <div class="icons">
                    <a href="/product" class="fas fa-shopping-cart"></a>
                    <a href="/product" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img [src]="image8" alt="">
                </div>
                <div class="content">
                    <h3>White Dial Watch</h3>
                    <div class="price">Rs.1,999</div>
                    
                </div>
            </div>
            <div class="box">
                <div class="icons">
                    <a href="/product" class="fas fa-shopping-cart"></a>
                    <a href="/product" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img [src]="image9" alt="">
                </div>
                <div class="content">
                    <h3>Mystiq Raga Joy Watch</h3>
                    <div class="price">Rs.4,999</div>
                   
                </div>
            </div>
            <div class="box">
                <div class="icons">
                    <a href="/product" class="fas fa-shopping-cart"></a>
                    <a href="/product" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img [src]="image10" alt="">
                </div>
                <div class="content">
                    <h3>Pearl Dial Ceramic Watch</h3>
                    <div class="price">Rs.2,500</div>
                   
                </div>
            </div>
            <div class="box">
                <div class="icons">
                    <a href="/product" class="fas fa-shopping-cart"></a>
                    <a href="/product" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img [src]="image11" alt="">
                </div>
                <div class="content">
                    <h3>Blue Dial Metal Watch</h3>
                    <div class="price">Rs.5,000</div>
                
                </div>
            </div>
            <div class="box">
                <div class="icons">
                    <a href="/product" class="fas fa-shopping-cart"></a>
                    <a href="/product" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img [src]="image12" alt="">
                </div>
                <div class="content">
                    <h3>Pink Strap Watch</h3>
                    <div class="price">Rs.2,599</div>
                  
                </div>
            </div>
            <div class="box">
                <div class="icons">
                    <a href="/product" class="fas fa-shopping-cart"></a>
                    <a href="/product" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img [src]="image13" alt="">
                </div>
                <div class="content">
                    <h3>Silver Strap Watch</h3>
                    <div class="price">Rs.1,999</div>
                   
                </div>
            </div>
            <div class="box">
                <div class="icons">
                    <a href="/product" class="fas fa-shopping-cart"></a>
                    <a href="/product" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img [src]="image14" alt="">
                </div>
                <div class="content">
                    <h3>Gold Viva Watch</h3>
                    <div class="price">Rs.4,860</div>
                    
                </div>
            </div>
            <div class="box">
                <div class="icons">
                    <a href="/product" class="fas fa-shopping-cart"></a>
                    <a href="/product" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img [src]="image15" alt="">
                </div>
                <div class="content">
                    <h3>Enchant Strap Watch</h3>
                    <div class="price">Rs.4,999</div>
                    
                </div>
            </div>
            <div class="box">
                <div class="icons">
                    <a href="/product" class="fas fa-shopping-cart"></a>
                    <a href="/product" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img [src]="image16" alt="">
                </div>
                <div class="content">
                    <h3>Pink Leather Watch</h3>
                    <div class="price">Rs.2,875</div>
                    <!-- <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div> -->
                </div>
            </div>
            <div class="box">
                <div class="icons">
                    <a href="/product" class="fas fa-shopping-cart"></a>
                    <a href="/product" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img [src]="image17" alt="">
                </div>
                <div class="content">
                    <h3>Steel Dial Watch</h3>
                    <div class="price">Rs.2,615</div>
                    <!-- <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div> -->
                </div>
            </div>
            <div class="box">
                <div class="icons">
                    <a href="/product" class="fas fa-shopping-cart"></a>
                    <a href="/product" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img [src]="image18" alt="">
                </div>
                <div class="content">
                    <h3>Eden Pearl Strap Watch</h3>
                    <div class="price">Rs.3,899</div>
                    <!-- <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div> -->
                </div>
            </div>
            <div class="box">
                <div class="icons">
                    <a href="/product" class="fas fa-shopping-cart"></a>
                    <a href="/product" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img [src]="image19" alt="">
                </div>
                <div class="content">
                    <h3>Raga Viva Watch</h3>
                    <div class="price">Rs.3,195</div>
                    <!-- <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div> -->
                </div>
            </div>
           
      
      
        </div>
    </section></div>
    <div class="btn-box">
        <a href="/product">
          View All Products
        </a>
      </div>
  




<br><br><br>

    

<div class="big-product" id="features">
    <div class="product-title">
        <p>
            special offers
        </p>
        <h2>
            choose your best watch
        </h2>
        <hr>
  
<section class="banner-container" >
    <div class="banner">
        <img [src]="image41" alt="">
        <div class="content">
            <!-- <a href="#" class="btn">check out</a> -->
        </div>
    </div>

    <div class="banner">
        <img [src]="image42" alt="">
        <div class="content">
      
            <!-- <a href="#" class="btn">check out</a> -->
        </div>
    </div>

</section>
    </div></div>





<br><br><br><br><br>



  <section class="saving_section ">
    <div class="box">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="img-box">
              <img src="/assets/images/saving-img.png" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  Best Savings on <br>
                  new arrivals
                </h2>
              </div>
              <p>
                Qui ex dolore at repellat, quia neque doloribus omnis adipisci, ipsum eos odio fugit ut eveniet blanditiis praesentium totam non nostrum dignissimos nihil eius facere et eaque. Qui, animi obcaecati.
              </p>
              <div class="btn-box">
                <a href="/womens" class="btn1">
                  Buy Now
                </a>
                <a href="/product" class="btn2">
                  See More
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- end saving section -->






