
<section class="home">

  <div class="slides-container">

      <div class="slide active">
      
          
          <div class="image">
          
              <img [src]="myimages" alt="">
              
          </div>
      </div>
      

      <div class="slide">
          
          <div class="image">
              <img [src]="image1" alt="">
            
          </div>
      </div>

      <div class="slide">
         
          <div class="image">
              <img [src]="image2" alt="">
              
          </div>
      </div>

      <div class="slide">
         
          <div class="image">
              <img [src]="image3" alt="">
              
          </div>
      </div>

  </div>

  <!-- <div id="next-slide" class="fas fa-angle-right" onclick="next()"></div>
  <div id="prev-slide" class="fas fa-angle-left" onclick="next()"></div> -->


  <section class="deal" id="deal">

    <div class="content">

        <h3 class="title">deal of the day</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam possimus voluptates commodi laudantium! Doloribus sint voluptatibus quaerat sequi suscipit nulla?</p>

        <div class="count-down">
            <div class="box">
                <h3 id="day">03</h3>
                <span>day</span>
            </div>
            <div class="box">
                <h3 id="hour">2</h3>
                <span>hour</span>
            </div>
            <div class="box">
                <h3 id="minute">25</h3>
                <span>minute</span>
            </div>
            <div class="box">
                <h3 id="second">07</h3>
                <span>second</span>
            </div>
        </div>

        <a href="#" class="btn">check the deal</a>

    </div>

</section>

</section>



 <script>
  let slides = document.querySelectorAll('.home .slides-container .slide');
  let index = 0;

function next(){
slides[index].classList.remove('active');
index = (index + 1) % slides.length;
slides[index].classList.add('active');
}

function prev(){
slides[index].classList.remove('active');
index = (index - 1 + slides.length) % slides.length;
slides[index].classList.add('active');
}
</script>